@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


*{
  font-family: 'Rubik', sans-serif;
}

.blueBG{
  border-bottom-left-radius: 200px;
}
.blueBGSection2{
  border-bottom-right-radius: 100px;
}

@media  (max-width: 460px) {
  .blueBG{
    border-bottom-left-radius: 100px;
  }
  .blueBGSection2{
    border-bottom-right-radius: 100px;
  }
}
@media (min-width:461px) and (max-width: 890px) {
  .blueBGSection2{
    border-bottom-right-radius: 150px;
  }
  .blueBG{
    border-bottom-left-radius: 150px;
  }
}